
<!--Main nav-->
<header class="h">
  <div class="n"></div>
  <div class="st">
    <a class="beversion" href="\home"><h1><img src="/assets/images/logo.png" alt="logo"></h1></a>
    <ul class="list good">
  <li><a href="#"><i class="fa fa-address-card"></i> Contacts</a></li>
    <li><a href="#"><i class="fa fa-question-circle"></i> About</a></li>
    <li><a href="/home"><i class="fa fa-bank"></i></i> Home</a></li>
  </div>
    </div>  
</header>