<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="/content/app.css" />
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  <link rel="icon" href="/assets/images/logo.jpg" type="image/gif">
  <title><%= title %></title>
</head>
<body>

<!--Header-->
<header class="h">
  <div class="n"></div>
  <div class="st">
    <a class="beversion" href="\home"><h1><img src="/assets/images/logo.png" alt="logo"></h1></a>
    <ul class="list good">
  <li><a href="#"><i class="far fa-address-card"></i> Contacts</a></li>
    <li><a href="#"><i class="fas fa-file-contract"></i> About</a></li>
    <li><a href="/home"><i class="fas fa-igloo"></i></i> Home</a></li>
  </div>
    </div>  
</header>


<!--Main-->
   <main class="container">
   <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </main>




<!--Foot-->
<footer>
    <nav class="f">
      &copy; Copyright Super Dev Team - First edition 2020. All Rights reserved.
    </nav>
  </footer>

<!-- java script -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>



